.amar-img{
    height:100px;
}
.card-img{
    border-radius: 2px;
    height:100%;
    width: 100%;
}
.safalta-card{
    border-radius:0px !important;
}
.card-1{
    border-top-left-radius: 50% !important;
}
.card-2{
    border-top-right-radius: 50% !important;
}
.card-3{
    border-bottom-left-radius: 50% !important;
}
.card-4{
    border-bottom-right-radius: 50% !important;
}
.text{
    margin-right: 235px!important;
}
.carsec{
    margin-top:20px;
}
.number-circle{
    height: 35px;
    width: 35px;
}
.text-below-number-circle{
    font-size: 14px;
}
.hr-top{
    top: 20px;
}
.white-square-card{
    height: 150px;
    width: 150px;
}
.white-square-card-text{
    font-size: 16px;
}



@media (min-width: 766px){
    .number-circle{
        height: 50px;
        width: 50px;
    }
    .text-below-number-circle{
        font-size: 1.5rem;
    }
    .hr-top{
        top: 25px;
    }
}
@media (max-width: 410px){
    .white-square-card{
        height: 130px;
        width: 130px;
    }
    .white-square-card-text{
        font-size: 14px;
    }
}