.amar-img{
    height:100px;
}
.card-img{
    border-radius: 2px;
    height:100%;
    width: 100%;
}
.safalta-card{
    border-radius:0px !important;
}
.card-1{
    border-top-left-radius: 50% !important;
}
.card-2{
    border-top-right-radius: 50% !important;
}
.card-3{
    border-bottom-left-radius: 50% !important;
}
.card-4{
    border-bottom-right-radius: 50% !important;
}
.num{
    color:red;
    border: 2px solid #000;
    border-radius: 50%;
    height:110px;
    width:110px;
    text-align: center; 
    padding: 4px;
    font-size: 400%;
    font-weight: bold;
}
.dash{
    border:2px solid #000;
    width:300px;
    height:0px;
    margin-top:55px;
}
.text{
    margin-right: 235px!important;
}
.container-1{
    max-width: 1500px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.carsec{
    margin-top:20px;
}


.number-circle{
    height: 35px;
    width: 35px;
}
.text-below-number-circle{
    font-size: 14px;
}
.hr-top{
    top: 20px;
}

@media (min-width: 766px){
    .number-circle{
        height: 50px;
        width: 50px;
    }
    .text-below-number-circle{
        font-size: 1.5rem;
    }
    .hr-top{
        top: 25px;
    }
}

.white-square-card{
    height: 150px;
    width: 150px;
}
.white-square-card-text{
    font-size: 16px;
}

@media (max-width: 410px){
    .white-square-card{
        height: 130px;
        width: 130px;
    }
    .white-square-card-text{
        font-size: 14px;
    }
}